@media (max-width: 1150px) {
  .items-navbar--landing {
    display: none !important;
  }

  .navbarmedio {
    justify-content: space-between;
  }
}

@media (max-width: 700px) {
    .navbarmedio {
        width: 100% !important;
    }
  .navbar--landing {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}
