@font-face {
  font-family: "Poppins";
  src: url("./src/assets/fonts/Poppins.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background: var(--c-bg-color);
}

html {
  scroll-behavior: smooth;
}

p,
h3,
h2,
h1 {
  color: var(--text);
}

.animation {
  transition: all;
  transition-duration: 300ms;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes blurIn {
  from {
    filter: blur(10px);
    opacity: 0;
  }

  to {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes colorChange {
  0% {
    color: #ff0000;
  }

  25% {
    color: #00ff00;
  }

  50% {
    color: #0000ff;
  }

  75% {
    color: #ffff00;
  }

  100% {
    color: #ff0000;
  }
}

.colorChangeAnimation {
  animation: colorChange 4s infinite ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}


.apearanimation {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.slideInAnimation {
  animation: slideIn 0.5s ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.blurAnimation {
  animation: blurIn 0.5s ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}

.zoomAnimation {
  animation: zoomIn 0.5s ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}


@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.zoomAnimationInmediate {
  &.i1 {
    animation: zoomIn 0.5s ease-out;
  }

  &.i2 {
    animation: zoomIn 0.5s ease-out;
  }

  &.i3 {
    animation: zoomIn 0.5s ease-out;
  }
}

.shakeAnimation {
  animation: shake 0.5s ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}


.floatAnimation {
  animation: float 3s infinite ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}


input[type="color"] {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 50%;
}

.navbarWrapper {
  background-color: rgba(160, 219, 142, 0.2);
  backdrop-filter: blur(10px);
}

.sidebarthumb {
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &:hover {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 3px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--c-card-2);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--c-card-3);
    }
  }
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

/* Eliminar flechas en Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Eliminar flechas en Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.bg-content1 {
  // background-color: var(--c-card) !important;
  color: var(--c-title);
}

th {
  background: var(--c-card-2);
}

input {
  color: var(--c-title);
}

textarea {
  color: var(--c-title);
}

table {
  color: #71717a;

  svg {
    font-size: 20px;
  }
}