.footer--landing {
  // max-width: ;
  padding: clamp(0px, 2vw, 2180px) !important;
}

.topfooter-landing {
  padding: clamp(0px, 5vw, 2180px) !important;
  gap: clamp(0px, 5vw, 700px) !important;
}

.columnfooter-landing {
  gap: clamp(0px, 8vw, 700px) !important;
}

.descriptionfooter-landing {
  font-size: clamp(12px, 1vw, 700px) !important;
}
.bottomfooter-landing {
  font-size: clamp(12px, 1vw, 700px) !important;
}

.sectionlogofooter-landing {
  width: clamp(15px, 40vw, 465px) !important;
  max-width: none !important;
}

.colinfofooter-landing {
  font-size: clamp(12px, 1vw, 700px) !important;
}

@media (max-width: 700px) {
  .columnfooter-landing {
    justify-content: space-between !important;
  }
  .footer--landing {
    padding: 40px 20px !important;
  }
  .topfooter-landing {
    padding: 0 !important;
    padding-bottom: 20px !important;
    flex-direction: column;
  }

  .sectionlogofooter-landing {
    max-width: 100% !important;
    width: 100% !important;
  }
}

@media (max-width: 500px) {
  .topfooter-landing {
    gap: clamp(0px, 10vw, 700px) !important;
  }
  .footer--landing {
    min-height: 100vh !important;
    justify-content: center;
  }

  .columnfooter-landing {
    flex-direction: column !important;
  }

  .bottomfooter-landing{
    padding: 20px 0px !important;
  }
}
